/* Montserrat */
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("Montserrat-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("Montserrat-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("Montserrat-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("Montserrat-SemiBold.ttf") format("opentype");
}

/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("Pretendard-Regular.otf") format("opentype");
}

/* Ydestreet */
@font-face {
  font-family: "Ydestreet";
  font-weight: 700;
  src: url("YdestreetB.ttf") format("opentype");
}
