@use '../../styles/global' as *;

.section {
  padding: 2rem 1.5rem;
  display: grid;
  // grid-template-rows: repeat(5, 1fr);
  gap: 1vh;

  .list {
    display: grid;
    // flex-direction: row;
    grid-template-columns: 1.5rem 3fr 1fr;
    align-items: center;
    gap: 0.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid $gray200;
      padding-bottom: 1vh;
    }
    
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
    .date {
      color: $black;
      flex-grow: 1;
      font-weight: 500;
    }

    .temp {
      display: flex;
      justify-content: space-between;
      color: $black;
      font-weight: 500;
      span{
        &:last-child {
          color: $gray600;
          text-align: right;
        }
      }
    }
  }
}